header.masthead{
    background-color: #f8f4ee;
}
.nav-container {
    background-color: #ffc107 !important;
}
.nav-link{
    color: #1a1e21;
}
.address{
    width: 50%;
}
.product-image img{
    height: 250px;
    width: 250px;
}
.product-description,
.project-description {
    font-size: small;
}
.project-image img{
    width: 90%;
}
